<!DOCTYPE html>
<html lang="en">
<head>
{% load  static from staticfiles %}
	<title>Cluster management</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/static/js/EventHelpers.js"></script>
	<script type="text/javascript" src="/static/js/DragDropHelpers.js"></script>
	<script type="text/javascript" src="/static/js/permissionForm.js"></script>
	<script>
		$(document).ready(function(){
			setInterval(function(){
				$('#content').load(' #content', function(){$(this).children().unwrap()});
			}, 5000);
		});
	</script>
</head>


<body>
<div id="container">
	{% include "header.html" %}
    <div id="content">
		<h2> RED rack </h2>
                <table class="userTable" style="background: #F5F2F2;">
					<thead>
						<tr>
							{% for node in nodes %}
								{% if forloop.counter <= 7 %}
									{% if node.state = 1 %}
										<th id="green"><a id="nodelink" href="node/{{ node.name  }}">{{node.name}}</a></th>
									{% else %}
										<th id="red"><a id="nodelink" href="node/{{ node.name }}">{{node.name}}</a></th>
									{% endif %}
								{% endif %}
							{% endfor %}
						</tr>
                    </thead>
                    <tbody>
						<tr>
							{% for key, value in vmlist.items  %}
							{% if key <= 7  %}
								<td id="pi{{key}}" class="userList">
									{% for val in value %}
										{% if val %}
											<a href ="#" draggable="true">{{ val }}</a>
										{% endif %}
									{% endfor %}
											<a id="running" href ="#" draggable="true">id-001</a>
											<a href ="#" draggable="true">pi-563</a>
								</td>
							{% endif %}
							{% endfor %}
                        </tr>
                    </tbody>
                </table>
                <table class="userTable" style="background: #F5F2F2;">
                    <thead>
                        <tr>
							{% for node in nodes %}
								{% if forloop.counter > 7 %}
									{% if node.state = 1 %}
										<th id="green"><a id="nodelink" href="node/{{ node.name }}">{{ node.name }}</a></th>
									{% else %}
										<th id="red"><a id="nodelink" href="node/{{ node.name }}">{{ node.name }}</a></th>
									{% endif %}
								{% endif %}
							{% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
							{% for key, value in vmlist.items  %}
							{% if key > 7  %}
								<td id="pi{{key}}" class="userList">
									{% for val in value %}
										{% if val %}
											<a href ="#" draggable="true">{{ val }}</a>
										{% endif %}
									{% endfor %}
								</td>
							{% endif %}
							{% endfor %}
                        </tr>
                    </tbody>
                </table>
	</div>
	{% include "footer.html" %}
</div>
</body>
</html>
