<!DOCTYPE html>
<html lang="en">
<head>
{% load  static from staticfiles %}
	<title>Template edit</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
	{% include "header.html" %}
    <div id="content">
		{% include "sidemenu.html" %}
		<div id="rightcontent">
			<h2> Edit virtual machine </h2>
			<div id="stylized" class="myform">
				<form action="{% url vm id %}" method="post"> {% csrf_token %} 
					{% for field in form %}
						<label>
							{{ field.label }}
							{% if field.errors %}
								<span class="small"> {% for error in field.errors %} {{ error }} &nbsp; {% endfor %} </span>
							{% endif %}
						</label>
						{{ field }} 
					{% endfor %}
					<input type="submit" value="Edit Virtual Machine" />
					<div class="spacer"></div>
				</form>
			</div>
			<br />
		</div>
	</div>
	{% include "footer.html" %}
</div>

</body>
</html>
