<!DOCTYPE html>
<html lang="en">
<head>
{% load  static from staticfiles %}
	<title>Template management</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css'>
</head>


<body>
<div id="container">
	{% include "header.html" %}
    <div id="content">
			<h2> What is a virtual machine? </h2>
			Virtual machine is a running instance of a template. You have to provide only two details to create a virtual machine in this cloud:
			<ul>
				<li> Name: Name of your virtual machine. </li>
				<li> Template: Choose one of your templates. </li>
			</ul>
			<h2> Available VMs </h2>
			<table class="sample" width="100%">
				<thead><th>ID</th><th>Name</th><th>Template</th><th>State</th><th>Node</th>{% if user.is_staff %}<th>User</th>{% endif %}<th></th></thead>
			{% for vm in vms %}
				<tr>
					<td>{{vm.id}}</td>
					<td>{{vm.name}}</td>
					<td>{{vm.template}}</td>
					<td>{{vm.get_state_display}}</td>
					<td>{{vm.node}}</td>
					{%if user.is_staff %} <td>{{vm.user}}</td> {% endif %}
					<td width="130px">&nbsp;
						<a href="{% url vm_start vm.id%}"><img src="/static/css/play.png" alt="start" /></a>&nbsp;&nbsp;
						<a href="{% url vm_stop vm.id%}"><img src="/static/css/stop.png" alt="stop" /></a>&nbsp;&nbsp;
						<a href="{% url vm_delete vm.id%}"><img src="/static/css/delete.png" alt="delete" /></a>
					</td>
				</tr>
			{% endfor %}
			</table>
			<br />
			<h2> Create new VM </h2>
			<div id="stylized" class="myform">
				<form action="{% url vms %}" method="post"> {% csrf_token %} 
					{% for field in form %}
						<label>
							{{ field.label }}
							{% if field.errors %}
								<span class="small"> {% for error in field.errors %} {{ error }} &nbsp; {% endfor %} </span>
							{% endif %}
						</label>
						{{ field }} 
					{% endfor %}
					<input type="submit" value="Create VM" />
					<div class="spacer"></div>
				</form>
			</div>
			<br />
	</div>
	{% include "footer.html" %}
</div>

</body>
</html>
